.container {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
}

.monoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  top: -50%;
  left: 0;
  background-image: radial-gradient(transparent, #000000bd, #1c1b1b 55%);
}
