@import "../../vars.css";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: sans-serif;
  align-content: center;
  color: var(--poly-main-color-3);
  background-color: var(--main-color-black-clair);
}

.inputBn,
.providers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 0.5rem;
}

.inputBnLine {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right-width: 0.05rem;
  border-right-color: var(--poly-main-color-3);
  border-right-style: solid;
}

.searchIcon {
  padding-right: 0.5rem;
}

.indentIcon {
  padding-left: 0.5rem;
}
