@import "../../vars.css";

.container {
  width: 100%;
  min-height: 50vh;
  background-color: black;
}

.contentBox {
  width: 90%;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: var(--main-color-content);
}

.listBar {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom-style: dashed;
  border-bottom-width: 0.1rem;
  border-bottom-color: var(--poly-color-1);
}

/*
-------- Media Query -------
*/

@media (max-width: 1440px) {
  .listBar {
    flex-direction: column;
  }

  .searchBox {
    order: 1;
  }

  .contentBox {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
