@import "../../vars.css";

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbarList {
  width: 100%;
  display: flex;
  align-items: center;
  flex-basis: 60%;
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
}

.logo span {
  font-size: 3rem;
  font-weight: bold;
  color: var(--master-color);
  font-style: italic;
}
