@import "../../vars.css";

.cardsBox {
  width: 100%;
  padding-top: 1rem;
}

.cardsBoxName {
  font-size: var(--fs-xl);
}

.cardsBoxHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-weight: bold;
}

.cardsConatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
-------- Media Query -------
*/

@media (max-width: 1440px) {
  .cardsBox {
    padding: 0.7rem;
  }
}
