@import "./vars.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: var(--main-color-body);
  color: var(--poly-main-color-1);
  font-family: "Arial Narrow", Arial, sans-serif;
  width: 99vw;
}
