:root {
  /* backGround colors */
  --main-color-black: #000000;
  --main-color-body: rgb(19, 17, 17);
  --main-color-content: rgba(59, 58, 58, 0.2);
  --main-color-black-clair: #2f2d2d;
  --master-color: #f8ad16;
  /* polygraPhy Colors */
  --poly-main-color-1: #cec9c9;
  --poly-main-color-2: #f1eaea;
  --poly-color-1: rgb(255, 255, 255, 0.4);
  --poly-main-color-4: #ffffff;
  /* Font Size */
  --fs-xs: 0.5rem;
  --fs-s: 0.8rem;
  --fs-md: 1.2rem;
  --fs-l: 1.5rem;
  --fs-xl: 1.8rem;
  /* Font Weight */
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  /* border bottom line */
  --border-line: 0.13rem;
}
