:root {
  /* backGround colors */
  --master-color: #f8ad16;
  --main-color-app: rgb(34, 32, 32);
  --main-color-listContent-one: rgba(0, 0, 0, 0.8);
  --main-color-listContent-two: rgba(24, 22, 22, 1);
  --main-color-search: #2f2d2d;
  /* polygraPhy Colors */
  --poly-color-black: rgb(0, 0, 0);
  --poly-main-color-1: #cec9c9;
  --poly-main-color-2: #f1eaea;
  --poly-color-1: rgb(255, 255, 255, 0.4);
  --poly-color-white: rgb(255, 255, 255, 0.8);
  /* Font Size */
  --fs-xs: 0.5rem;
  --fs-s: 0.8rem;
  --fs-md: 1.2rem;
  --fs-l: 1.3rem;
  --fs-xl: 1.8rem;
  /* Font Weight */
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  --fw-bold: bold;
  /* border bottom line */
  --border-line: 0.13rem;
}
